<nav class="navbar navbar-expand-md border-bottom sticky-top app-navbar">
  <div class="container-fluid">
    <a class="navbar-brand brand-lockup" href="/">
      <i class="fa-regular fa-compass"></i>
      <span>WanderLust</span>
    </a>
    <button  
      class="navbar-toggler" 
        type="button" 
          data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex nav-search" role="search" method="GET" action="/listings">
          <input class="search-inp form-control" name="search" type="search" placeholder="Search destinations" value="<%= searchQuery %>">
          <button class="btn btn-search" type="submit" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Host your place</a>
        <% if(currUser && currUser.isAdmin) { %>
          <a class="nav-link" href="/admin"><b>Admin</b></a>
        <% } %>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %>
          <% if(currUser) { %>
            <form class="nav-logout" method="POST" action="/logout">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="nav-link" type="submit"><b>Logout</b></button>
            </form>
          <% } %>
      </div>
    </div>
  </div>
</nav>
